/* Le sélecteur universel étoile (*) s'adresse à tous les éléments */

@font-face{
    font-family: police;
    src: url('../fonts/Acme-Regular.ttf')
}


body {
    font-family: 'police';
    background: linear-gradient(to bottom right, blue, white);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Creation d'une classe CSS avec le selecteur . */

.info {
    background-color: blue;
}

.premier {
    font-size: 30px;
}

#font {
    font-family: Serif;
}

h2 {
    font-size: 18px;
}

/* Selecteur descendant */

/* Ici, on cible tous les enfants li de la balise ul */

ul>li {
    color: white;
    background: #FF4040;
    margin: 14px 14px 14px 14px;
    list-style: square;
}

p.rouge {
    color: red;
}

div.code {
    font-family: Courier New;
}

div.exemple {
    font-family: Courier New;
}

ol>li {
    background: yellow;
}


.container{
    display: block;
    margin: 65px;
}
.conteneur{
    display: flex;
    justify-content: space-between;
}
.enfant {
    flex-basis: 200px;
    background-color: red;
}
@media (max-width: 800px){
    .conteneur{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 500px;
    }
}


* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.outer-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.inner-grid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.inner-grid img {
    margin-top: 8px;
    width: 100%;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    .inner-grid {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .inner-grid {
        flex: 100%;
        max-width: 100%;
    }
}
